span.st-emotion-cache-10trblm.e1nzilvr1
{
    background-color: blueviolet;
    color: lightyellow;
    border-radius: 20px;
}
div.st-emotion-cache-r421ms.e10yg2by1
{
    background-color:aqua;
}
